/* Raleway 300, 400, 500, 600 */
/* Roboto 400 500 */
/* Roboto Condensed 700 */
/* Source Sans Pro 400 */

/* Raleway */
@font-face {
  font-family: 'Raleway';
  src: url('./Raleway/Raleway-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./Raleway/Raleway-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./Raleway/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('./Raleway/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('./Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Roboto Condensed */
@font-face {
  font-family: 'Roboto Condensed';
  src: url('./Roboto_Condensed/RobotoCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Source Sans Pro */
@font-face {
  font-family: 'Source Sans Pro';
  src: url('./Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
